#root {
  min-width: 680px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.avatar {
  border-radius: 5px;
}

.header_container{
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.header_container_input{
  padding: 0 10px;
}

.pointer {
  cursor: pointer;
}